@tailwind base;
@tailwind components;
@tailwind utilities;

.some-class {
  background: linear-gradient(
    45deg,
    rgba(29, 236, 197, 0.7),
    rgba(91, 14, 214, 0.7) 100%
  );
}
@font-face {
  font-family: "Sk-Modernist";
  src: url("../src/assets/fonts/Sk-Modernist-Regular.otf");
  font-family: "Sk-Modernist-bold";
  src: url("../src/assets/fonts/Sk-Modernist-Bold.otf");
  font-family: "Sk-Modernist-mono";
  src: url("../src/assets/fonts/Sk-Modernist-Mono.otf");
}

/* for input field with number not to show increment decrement arrow */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
